name: Build and Test C++ Project

on:
  push:
    branches: [ develop, master ]
  pull_request:
    branches: [ develop, master ]

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up CMake
        uses: jwlawson/actions-setup-cmake@v1

      - name: Configure CMake
        run: cmake -S . -B build

      - name: Build
        run: |
          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            cmake --build build --config Debug
          else
            cmake --build build --config Release
          fi
        shell: bash

      - name: Run tests
        run: ctest --test-dir build --output-on-failure ${{ matrix.os == 'windows-latest' && '-C Debug' || '' }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts-${{ matrix.os }}
          path: |
            build/main*
            build/unit_tests*
            build/Debug/
            build/Release/
          if-no-files-found: warn
